[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Ll]ogs/
[Bb]uild*/
[Bb]uilds*/
UserSettings/

MemoryCaptures/
Recordings/

.vscode/
.vs/
.idea/
.plastic/

*.csproj
*.unityproj
*.sln
*.slnx
*.user
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

.vsconfig
.vsconfig_dst
ignore.conf
ignore_dst.conf
ignored_stuff.gitignore

*_broken/
*_dst/
